<form>
<div>
	<div>
		<label for="account-number">Account Number:</label>
		<input type="text" id="account-number" name="account-number" value="{{accountNumber}}">
	</div>
	<div>
		<label for="payee">Payee:</label>
		<input type="text" id="payee" name="payee" value="{{payee}}">
	</div>
	<div>
		<label for="description">Description:</label>
		<input type="text" id="description" name="description" value="{{description}}">
	</div>
	<div>
		<label for="tax-item">Tax Item:</label>
		<input type="text" id="tax-item" name="tax-item" value="{{taxItem}}">
	</div>
	<div>
		<label for="amount">Amount:</label>
		<input type="text" id="amount" name="amount" value="{{amount}}">
	</div>
	<div>
		<button type="button" id="save-transaction">Save Transaction</button>
		<button type="button" id="cancel-transaction">Cancel Transaction</button>
	</div>
</div>
</form>
