<table class="table table-bordered">
	<tr>
		<td>Account #</td>
		<td>Payee</td>
		<td>Description</td>
		<td>Tax Item</td>
		<td>Amount</td>
		<td>Action</td>
	</tr>
	<tbody>
	{{#each transactions}}
		<tr>
			<td>{{accountNumber}}</td>
			<td>{{payee}}</td>
			<td>{{description}}</td>
			<td>{{taxItem}}</td>
			<td>{{amount}}</td>
			<td><button data-model-id="{{_id}}">View</button></td>
		</tr>
	{{/each}}
	</tbody>
</table>
