<div>
	<div>
		<label>Account Number:</label>
		{{accountNumber}}
	</div>
	<div>
		<label>Payee:</label>
		{{payee}}
	</div>
	<div>
		<label>Description:</label>
		{{description}}
	</div>
	<div>
		<label>Tax Item:</label>
		{{taxItem}}
	</div>
	<div>
		<label>Amount:</label>
		{{amount}}
	</div>
</div>
